* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgrey;
}

.round {
  width: 80%;
  margin: 0 auto;
}

/* ShoutCounter */
.shotcounter {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #FFF;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 3rem;

}

.counter button {
  font-size: 1.5rem;
  background-color: #118AB2;
  color: #FFF;
  border: 2px solid #118AB2;
  border-radius: 10px;
}

.holenav {
  display: flex;
  justify-content: space-between;
}

.holenav button {
  font-size: 1.2rem;
  background-color: #118AB2;
  color: #FFF;
  border: 2px solid #118AB2;
  border-radius: 10px;
}

.score {
  font-size: 3rem;
  margin: 0;
}

@media (max-width: 900px) {
  .round {
    width: 100%;
    margin: 0 auto;
  }

  .shotcounter {
    width: 80%;
    margin: 0 auto;
  }
}

/*  Scorecard */

.scorecard {
  display: grid;
  grid-template-columns: repeat(18, 1fr)
}