* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgrey;
}

.round {
  width: 80%;
  margin: 0 auto;
}

/* ShoutCounter */
.shotcounter {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #FFF;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 3rem;

}

.counter button {
  font-size: 1.5rem;
  background-color: #118AB2;
  color: #FFF;
  border: 2px solid #118AB2;
  border-radius: 10px;
}

.holenav {
  display: flex;
  justify-content: space-between;
}

.holenav button {
  font-size: 1.2rem;
  background-color: #118AB2;
  color: #FFF;
  border: 2px solid #118AB2;
  border-radius: 10px;
}

.score {
  font-size: 3rem;
  margin: 0;
}

.arrow {
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 900px) {
  .round {
    width: 100%;
    margin: 0 auto;
  }

  .shotcounter {
    width: 80%;
    margin: 0 auto;
  }
}

/*  Scorecard */
.scorecardWrapper {
  background: #FFF;
  padding: 10px;
}

.scorecard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  row-gap: 20px;
}